set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-dal01-9-101.zap-hosting.com;database=zap366772-1;userid=zap366772-1;password=6pP3zMOZ02EC1CJa" 
endpoint_add_tcp "185.249.196.94:30120" 
endpoint_add_udp "185.249.196.94:30120" 
sv_maxclients 32
# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
#inserted trough ZAP ressourcesystem
start Jailer
start cuff-handsup-master
start texscript
start areaofplay
start CalmAI
start deleteveh
start ivpack
start NeverWanted
start Refuel

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 2f0d3f8e6c

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "ZAP-Hosting.com FiveM serverhosting"

# Nested configs!
#exec server_internal.cfg
exec perms.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
